stages:
  - deploy

pages:
  stage: deploy
  tags:
    - openshift-test
  image: quay.apps.ocpt.jrc.ec.europa.eu/public/dockerhub/python:3.10
  rules:
    - if: $CI_COMMIT_REF_NAME == "master" || $CI_COMMIT_REF_NAME == "main"
      exists:
        - mkdocs.yml
  variables:
    HOME: /tmp
  script:
    - export http_proxy=$PROXY https_proxy=$PROXY no_proxy=$NOPROXY
    - pip install --upgrade pip
    - pip install --user -r requirements.txt
    - pip install --user .
    - export PATH=$PATH:$HOME/.local/bin
    - mkdocs build --verbose --site-dir public
  allow_failure: true
  artifacts:
    paths:
      - public
