stages:
  # - test
  - deploy

image: ubuntu

before_script:
  - pip install --upgrade pip
  # - pip install .[docs]
  - pip install pdm
    # - sudo apt-get update && apt-get install -y locales
    # - apt-get font-terminus font-inconsolata font-dejavu font-noto font-awesome font-noto-extra
    # - locale-gen en_US.UTF-8
    # - update-locale LANG=en_US.UTF-8
    # - export LANG=en_US.UTF-8
    # - export LC_ALL=en_US.UTF-8
    # - export http_proxy=$PROXY https_proxy=$PROXY no_proxy=$NOPROXY
    # - export PATH=$PATH:$HOME/.local/bin

# test:
#   stage: test
#   script:
#   - mkdocs build --verbose --site-dir test
#   artifacts:
#     paths:
#     - test
#   rules:
#     - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH

pages:
  stage: deploy
  script:
    - pdm install
    - export COLUMNS=160
    - pdm run mkdocs build --verbose --site-dir public
  allow_failure: true
  artifacts:
    paths:
      - public
  rules:
    # - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_REF_NAME == 'mkdocs'
      exists:
        - mkdocs.yml
