image: python:3.11.6

before_script:
  - pip install --upgrade pip
  - pip install .[docs]

test:
  stage: test
  script:
  - mkdocs build --verbose --site-dir test
  artifacts:
    paths:
    - test
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH

pages:
  stage: deploy
  image: python:3.11.6
  script:
    - mkdocs build --site-dir public
  artifacts:
    paths:
      - public
  rules:
    # - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_REF_NAME == 'mkdocs'

