image: python:3.11

pages:
  pages: true  # specifies that this is a Pages job and publishes the default public directory
  artifacts:
    paths:
      - public
      - build.log
    when: always
    expire_in: 1 week
  rules:
    # Trigger on documentation branch
    - if: $CI_COMMIT_REF_NAME == 'documentation'
  # Functions that should be executed before the build script is run
  script:
    - echo "Publish the pre-built documentation found in the 'public' directory" 
    
    # Conditionally generate sitemap.xml.gz if public exists
  before_script:
    - apt-get update
    - apt-get install -y gcc fonts-noto fonts-noto-extra wget
    - mkdir -p /usr/share/fonts/noto
