image: python:latest

before_script:
  - pip install --upgrade pip
  - pip install mkdocs-material
  - pip install mkdocs-autolinks-plugin
  - pip install mkdocs-autorefs
  - pip install mkdocs-git-revision-date-localized-plugin
  - pip install mkdocs-minify-plugin
  - pip install mkdocs-gen-files
  - pip install mkdocs-literate-nav
  - pip install mkdocs-section-index
  - pip install mkdocstrings
  - pip install 'mkdocstrings[python]'
  - pip install rich
  - pip install mkdocs-mermaid2-plugin
  - pip install pipdeptree
  - pip install mkdocs-pagetree-plugin
  - pip install mkdocs-badges

test:
  stage: test
  script:
  - mkdocs build --strict --verbose --site-dir test
  artifacts:
    paths:
    - test
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH

pages:
  stage: deploy
  image: python:latest
  script:
    - mkdocs build --site-dir public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

