default_language_version:
  python: python3

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.5.0
  hooks:
    - id: ruff  # Run the linter.
      types_or: [ python, pyi, jupyter ]
      args: [ --fix, --exit-non-zero-on-fix ]
    - id: ruff-format  # Run the formatter.
      types_or: [ python, pyi, jupyter ]

- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
    - id: isort
 
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
    - id: black
