### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
### Default values sample for helm values.yaml file
### if you want to use this file as template, please copy it to values.yaml
### This is a YAML-formatted file.
##
## JRC DevOps Team
## Template revision 1.2.1
## Last modify date 04/03/2024, by Carlo Landi
##
## Please check for this template updates here: https://gitlab.jrc.ec.europa.eu/jrc-templates/ci-cd/helm/-/blob/master/values-sample.yaml
##                                     or here: https://gitlab.jrc.cec.eu.int/jrc-templates/ci-cd/helm/-/blob/master/values-sample.yaml
##
## Changelog:
## templateRevision 121:
##   - Fixed Autoscaler properties
## templateRevision 120:
##   - Ecas DNS Fix. Fix ecas.ec.europa.eu DNS name that may happens on some cluster network
## templateRevision 119:
##   - mount a volume in readonly option
## templateRevision 118:
##   - added targetPort support for routes
## templateRevision 117:
##   - added readinessProbe
## templateRevision 116:
##   - added proxyOverride feature
## templateRevision 115:
##   - added customSourcePath variable on RSYNC and S3 RSYNC job template
## templateRevision 114:
##   - added volumes snapshots feature on deployment
## templateRevision 113:
##   - added the ability to specify serviceAccountName tag on deployments and statefulsets
## templateRevision 112:
##   - updated quay.apps.ocpt.jrc.ec.europa.eu/public/jrc/sync-job to tag 1.1
## tempalteRevision 111:
##   - added cronJob deployment
## templateRevision 110:
##   - added route.annotations: support 
## templateRevision 109:
##   - added service sessionAffinity parameter
##   - added imagePullPolicy support on job and genercJob
## templateRevision 108: 
##   - added ability to mount secrets as file
##   - removed the imageStream tag because trigger are no longer used due to external Quay storage

## To enable a feature, please uncomment the rows with one # ( comment hash ) only
##
templateRevision: 121
##
## Config Maps:
## specify a folder with all config files you want to include in your deployment
## You must create a folder in the root of your project called /configmaps
## inside them you must create another folder where to include all files in the configmaps 
## Example:
## create folder /configmaps/etc
## add two config files: /configmaps/etc/httpd.conf and /configmaps/etc/virtualhost.conf
## enable config map feature:
# configMap: 
#   - name: config-map-name
#     path: "etc"
## All files on etc folder will be included in config-map-name configmap on openshift

## Proxy variables override:
## Overrides default JRC Proxy settings for all deployed pods
# Example:
# proxyOverride:
# - name: http_proxy
#   value: "http://proxy.jrc.it:8080"
# - name: https_proxy
#   value: "http://proxy.jrc.it:8080"
# - name: no_proxy
#   value: "127.0.0.1,localhost,jrc.it,jrc.org,jrc.es,jrc.ec.europa.eu,svc,cluster.local,ecas.ec.europa.eu,jrc"

#########################################################
####   Choose between these two main templates:     #####
#########################################################
## statefulSet: perform a StatefulSet Openshift Workflow
## deployment: ( default ) perform a Deployment Openshift Workflow
#statefulSet:
deployment:
  ## app label name (usually changes are not needed)
  #appName: my-app-name-override

  ## POD Image:
  ## Override image name
  ## If you have a Dockerfile in your home, please leave it blank to enable helm rollbacks
  #image: 

  ## Image Pull Policy (optional, possible values: IfNotPresent, Always, Never) default: IfNotPresent
  #imagePullPolicy: IfNotPresent

  ## imagePullSecrets
  ## if your image needs authentication, provide the secret name here:
  #imagePullSecrets: 
  #  - name: my-image-secret

  ## Service Account name:
  ## Override the Default serviceAccount where pods are started with
  ## note: you have to create it first
  # serviceAccountName: my-serviceaccount

### Common values for both deployment and statefuset
  ## Extra Labels to add
  extraLabels: {}
  ## example:
  # mykey: myvalue  

  ## Extra Annontations to add
  extraAnnotations: {}
  ## example:
  # mykey: myvalue  

  ## Container environment variables
  ## examples
  ## 1) get values from secrets
  # env:
  # - name: MY_ENV_VAR
  #   valueFrom:
  #     secretKeyRef:
  #       name: my-secrets
  #       key: my-key-name
  ## 2) declare a value
  # env:
  # - name: MY_ENV_VALUE
  #   value: "myvalue"

  ## Pod Replicas ( max 5 )
  replicaCount: 1

  ## ConfigMaps files
  ## Example:
  # fileConfigMaps:
  # - name: myfile-conf
  #   mountPath: /my/mount/path/file.conf
  #   subPath: file.conf
  #   configMapName: myfile-configmap
  
  ## Mount secret keys as files
  ## Example
  # fileSecrets:
  # - name: myfiles-secret
  #   secretName: my-secret # Name of the secret
  #   keys:
  #   - subPath: mykeyname.conf # secret key name
  #     mountPath: /my/mount/path/file.conf
  #   - subPath: myotherkeyname.conf # secret key name
  #     mountPath: /my/mount/path/myotherfile.conf

  ### Volume Mounts
  ## Example:
  # volumeMounts:
  # - name: data
  #   path: /data
  #   addBranchName: false # add the branch name to the volume name "my-volume-<branch-name>"" ex. my-volume-main if set to true
  #   enableSnapshot: true # create volume snapshots BEFORE applying new deployment if set to true. For additional information visit https://gitlab.jrc.ec.europa.eu/groups/jrc-projects/-/wikis/Volume%20Snapshots%20on%20Openshift
  #   readOnly: true
  ## Uncomment the following part if you want to enable the auto Storage Claim 
  ## This is not needed if claim is performed manually
  ## For more info about HELM hooks, please visit official helm documentation https://helm.sh/docs/topics/charts_hooks/
  #   enableAutoClaim: true
  #   accesMode: ReadWriteMany # or ReadOnlyMany 
  #   size: 5G
  #   annotations:
  #     volume.beta.kubernetes.io/storage-class: "basic-csi"
  #     "helm.sh/hook": pre-install
  #     "helm.sh/hook-weight": "-20"
  #     "helm.sh/resource-policy": keep  # if you want to avoid the volume deletion on uninstall 

  ### Liveness probe
  ## Example 1: Health check using HTTP Headers
  # livenessProbe:
  #   httpGet:
  #     path: /healtz
  #     port: 30080
  #     scheme: HTTP
  #     httpHeaders:
  #     - name: X-Health-Check
  #       value: Ok
  #   initialDelaySeconds: 30
  #   timeoutSeconds: 1
  #   periodSeconds: 10
  #   successThreshold: 1
  #   failureThreshold: 3
  ## Example 2: Postgresql official image health check
  # livenessProbe:
  #   exec:
  #     command:
  #     - /bin/bash
  #     - '-c'
  #     - pg_isready
  #  initialDelaySeconds: 30
  #  timeoutSeconds: 1
  #  periodSeconds: 10
  #  successThreshold: 1
  #  failureThreshold: 3

  ### ReadinessProbe:
  ## Example 1: Health check using HTTP Headers
  # readinessProbe:
  #   httpGet:
  #     scheme: HTTPS
  #     path: /healthz
  #     port: 8443
  #   initialDelaySeconds: 10
  #   periodSeconds: 5
  ## Example 3: Health check using container command
  # readinessProbe: 
  #   exec: 
  #     command: 
  #      - cat
  #      - /tmp/healthy

  ## Resource limits
  ## Please *always* declare the application resources usage, this is important for application stability.
  ## Resource request are always overridden by cluster by using this formula (10% of limits).
  ## Please change the limits vaules
  ## If the default values are too low, try to increase them gradually
  
  resources:
    requests:
      cpu: 20m 
      memory: 200Mi 
    limits:
      cpu: 200m 
      memory: 400Mi    

  ## Container command override
  ## Very useful for container debugging
  ## Example:
  # command:
  #   - "nginx"
  #   - "-g"
  #   - "daemon off;"

  ## ECAS DNS Fix
  ## Fix ecas.ec.europa.eu DNS name that may happens on some cluster network
  ## Enable if you have troubles with ecas authentication this may fix it, otherwise leave it commented. 
  # ecasFix: true

  ### Network Ports
  ## container (pod) exposed port
  ports:
  - containerPort: 8080
    name: http

  ### Service ports
  ## Ports that will be exposed internally at *cluster level*
  servicePorts:
  - name: http
    protocol: TCP
    port: 8080        # port to be exposed
    targetPort: 8080  # container port destination
  ## Service session affinity ( default None )
  ## Useful when service app is behind a reverse proxy such as nginx, othervise leave it commented
  ## more info https://kubernetes.io/docs/concepts/services-networking/service/
  # serviceSessionAffinity: ClientIP
  # sessionAffinityConfig:
  #   clientIP:
  #     timeoutSeconds: 10800

  ### Expose service outside Openshift cluster
  ## Route:
  ## Example 1
  # expose http route:
  route:
    enabled: true
    isOnDMZ: true # Enable this option if you're deploying on DMZ network
  #   nameOverride: # optional, Route name override ( default appName )
  #   urlOverride: # optional, Web site url override
  #   targetPort: http # optional, target service port name (useful when having multiple service ports exposed)
  #   annotations: # optional, route extra annotations
  #     haproxy.router.openshift.io/timeout: 300s # Example of extra annotation
  ## Example 2 **Valid on CSZ Cluster only**
  # expose https route with Openshift default certificate:
  # route:
  #   enabled: true
  #   isOnDMZ: false
  #   nameOverride: # optional, Route name override ( default appName )
  #   urlOverride: # optional, Web site url override
  #   targetPort: http # optional, target service port name (useful when having multiple service ports exposed)
  #   annotations: # optional, route extra annotations
  #     haproxy.router.openshift.io/timeout: 300s # Example of extra annotation
  #   tls:
  #     termination: edge
  #     insecureEdgeTerminationPolicy: Redirect

  ## Autoscaler ( HA )
  ## Enable autoscaling functionalities ( useful on production environment only)
  ## Note: CPU utilization percentage is calculated on 1000% instead 100% (i.e. 75% average CPU usage is 750%)
  # autoScaler:
  #   minReplicas: 2
  #   maxReplicas: 5 # max allowed 5
  #   metrics:
  #   - type: Resource
  #     resource:
  #       name: cpu
  #       target:
  #         averageUtilization: 750
  #         type: Utilization

  ## Init Containers feature
  # initContainers:
  # - name: update
  #   image: myimage:tag
  #   command: ['sh', '-c', 'myfile.sh']

#############################
### Static Data RSYNC Job ###
#############################
## Configure statec data rsync job
## for more info on how to use it, please read https://gitlab.jrc.ec.europa.eu/jrc-templates/ci-cd/sync-job README.MD file
#job:
  ## enable/disable the job
  # enabled: false
  
  ## Job annotations
  # annotations:
  #   "helm.sh/hook": pre-install,pre-upgrade
  #   "helm.sh/hook-weight": "-10"
  #   "helm.sh/hook-delete-policy": before-hook-creation # ( optional, leave it commented if you need debug )
  
  ## Job image path 
  # image: quay.apps.ocpt.jrc.ec.europa.eu/public/jrc/sync-job:1.1
  # imagePullPolicy: IfNotPresent ( Default IfNotPresent. Possible values IfNotPresent, Always, None ) 
  
  ## Data volumes to mount on job container
  # volumeMounts:
  # - name: my-volume
  #   path: /my/dest/path
  #   addBranchName: false # if set to true add the branch name to the volume name ex my-volume-main
  ## Data source definition:
  ## for more info, please read https://gitlab.jrc.ec.europa.eu/jrc-templates/ci-cd/sync-job README.MD
  # source: "s3" # Available options are: s3, oc, sftp
  
  ## Source machine Secret name
  # secretName: my-secret-name
  
  ## data source path:
  # customSourcePath: s3://bucket/src # or "/data/src" Specify file source path (use this if unsure)
  # sourcePath: "/data/src" # or s3://bucket/src with s3 storage
  ## PLEASE NOTE: sourcePath will automatically add the branch name at the end of the address i.e. s3://bucket/src/gitbranch,
  ## please use customSourcePath if this feature is not needed
  ## data destination path:
  # destPath: "/my/dest/path" # without tailing / (the path sould be a valid mounted volume)
  
  ## Job Additional Environments
  # env:
  # - name: WAIT
  #   value: "10"
  ## Job command override
  # command: {}

###################
### Generic Job ###
###################
## configure here a generic Job run
# genericJob:
  ## Helm Hooks configuration for Job ( fro more info please visit https://helm.sh/docs/topics/charts_hooks/) 
  # annotations:
  #   "helm.sh/hook": pre-install,pre-upgrade
  #   "helm.sh/hook-weight": "-10"
  #   "helm.sh/hook-delete-policy": before-hook-creation
 
  ## JOB Image:
  ## Override image name 
  # image: 
  # imagePullPolicy: Always ( Default IfNotPresent. Possible values IfNotPresent, Always, None ) 

  ## imagePullSecrets
  ## if your image needs authentication, provide the secret name here:
  # imagePullSecrets: 
  # - name: my-image-secret

  ## JOB Command override
  # command:
  # - "sh"
  # - "-c"
  # - "sleep 60"

  ## JOB environment variables
  ## examples
  ## 1) get values from secrets
  # env:
  # - name: MY_ENV_VAR
  #   valueFrom:
  #     secretKeyRef:
  #       name: my-secrets
  #       key: my-key-name
  ## 2) declare value
  # env:
  # - name: MY_ENV_VALUE
  #   value: "myvalue"

  ## ConfigMaps files
  # fileConfigMaps: {}
  ## Example"
  # - name: myfile-conf
  #   mountPath: /my/mount/path/file.conf
  #   subPath: file.conf
  #   configMapName: myfile-configmap

  ### Volume Mounts
  ## Example:
  # volumeMounts:
  #  - name: my-volume
  #    path: /my/mount/path
  #    addBranchName: false # add the branch name to the volume name "my-volume-<branch-name>"" ex. my-volume-main if set to true

  ## Mount secret keys as files
  ## Example
  # fileSecrets:
  # - name: myfiles-secret
  #   secretName: my-secret # Name of the secret
  #   keys:
  #   - subPath: mykeyname.conf # secret key name
  #     mountPath: /my/mount/path/file.conf
  #   - subPath: myotherkeyname.conf # secret key name
  #     mountPath: /my/mount/path/myotherfile.conf

################
### Cron Job ###
################
## Enabling this template allows you to deploy a Cron JOB pod to perform periodic scheduled tasks
# cronJob:
  ## cron JOB Image:
  ## Override image name ( default built image )
  # image: 
  # imagePullPolicy: Always ( Default IfNotPresent. Possible values IfNotPresent, Always, None ) 
  ## 
  ## imagePullSecrets
  ## if your image needs authentication, provide the secret name here:
  # imagePullSecrets: 
  # - name: my-image-secret

  ## Cron Job Annotations
  ## Put here if you need to add annotations
  # annotations:

  ## Cron Job Labels
  ## Put here if you need to add extra lables
  # labels:
  
  ## JOB Schedule time:
  ## use the default cron syntax: ex. '0 1 * * *' (generate it here: https://crontab.guru/), single quotes are mandatory!
  # schedule: '@daily'

  ## Job concurrency:
  ## Specifies how to treat concurrent executions of a Job.
  ## Valid values are: 
  ## - "Allow" : allows CronJobs to run concurrently; 
  ## - "Forbid": ( Default) forbids concurrent runs, skipping next run if previous run hasn't finished yet; 
  ## - "Replace": cancels currently running job and replaces it with a new one
  # concurrencyPolicy: Forbid 

  ## cron JOB container command override
  # command:
  # - "sh"
  # - "-c"
  # - "sleep 60"

  ## Cron JOB environment variables
  ## examples
  ## 1) get values from secrets
  # env:
  # - name: MY_ENV_VAR
  #   valueFrom:
  #     secretKeyRef:
  #       name: my-secrets
  #       key: my-key-name
  ## 2) declare value
  # env:
  # - name: MY_ENV_VALUE
  #   value: "myvalue"

  ## Resource limits
  ## Please *always* declare the application resources usage, this is important for application stability.
  ## If the default values are too low, try to increase them gradually
  # resources:
  #   requests:
  #     cpu: 100m 
  #     memory: 200Mi 
  #   limits:
  #     cpu: 200m 
  #     memory: 800Mi    

  ## ConfigMaps files
  # fileConfigMaps: {}
  ## Example"
  # - name: myfile-conf
  #   mountPath: /my/mount/path/file.conf
  #   subPath: file.conf
  #   configMapName: myfile-configmap

  ### Volume Mounts
  ## Example:
  # volumeMounts:
  #  - name: my-volume
  #    path: /my/mount/path
  #    addBranchName: false # if set to true add the branch name to the volume name ex my-volume-main

  ## Mount secret keys as files
  ## Example
  # fileSecrets:
  # - name: myfiles-secret
  #   secretName: my-secret # Name of the secret
  #   keys:
  #   - subPath: mykeyname.conf # secret key name
  #     mountPath: /my/mount/path/file.conf
  #   - subPath: myotherkeyname.conf # secret key name
  #     mountPath: /my/mount/path/myotherfile.conf