/* Content area width */

/* .md-grid { */
/*   max-width: 1440px; */ 
/* } */
@media only screen and (min-width: 76.25em) {
  /* .md-main__inner { */
  /*   max-width: none; */
  /* } */
  .md-sidebar--primary {
    left: 0;
  }
  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;   
  }
}

/* Other */

.md-content a:link {
  text-decoration:underline;
}

.md-typeset a:hover {
  color: #abb9c1;
  text-decoration:underline;
}

.md-typeset h1 {
  /* font-size: 32px; */
  /* font-family: Content-font, Roboto, sans-serif; */
  font-weight: 500;
  line-height: 1.5;
  /* color: #28292d; */
}

/* .md-typeset h1::after { */
/*   width:93%; */
/*   height:2px; */
/*   background: #283551; */
/*   content:""; */
/*   display: block; */
/*   margin-top: 1px; */
/*   opacity: 0.3; */
/* } */

.md-typeset h2 {
  /* font-size: 24px; */
  /* font-family: Content-font, Roboto, sans-serif; */
  font-weight: 700;
  line-height: 1.5;
  /* color: #28292d; */
}

/* .md-typeset h2::after { */
/*   width:100%; */
/*   height:1px; */
/*   background: #283551; */
/*   content:""; */
/*   display: block; */
/*   margin-top: -5px; */
/*   opacity: 0.2; */
/* } */
